@import url('https://fonts.cdnfonts.com/css/common-pixel');

body {
    margin: 0px;
    font-family: 'Common Pixel', sans-serif;
}
.admin {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.adminHelp {
    background-color: rgb(119, 198, 224);
    opacity: 90%;
}

body {
    background-image: url("../art/starry-pixels.webp");
    background-repeat: repeat;
}

h2 {
    background-color: rgb(119, 198, 224);
    opacity: 90%;
    margin: auto;
    width: 20%;
    border-radius: 16px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
}

.gameToSelect {
    background-color: rgb(119, 198, 224);
    opacity: 90%;
    position: relative;
    width: 256px;
    height: 256px;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 32px;
    text-align: center;
}

.topGameSelect, .bottomGameSelect {
    display: flex;
    justify-content: space-around;
}

